.profile_header {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  margin-top: 50px;
}

.profile_header img {
  border-radius: 50%;
  max-width: 20%;
  height: auto;
  z-index: 10;
}

.profile_display-name {
  font-size: 60px;
}

.profile_stats {
  display: flex;
  font-size: 13px;
}

.profile_stats span {
  display: flex;
  align-items: center;
}

.profile_stats span:not(:last-of-type)::after {
  content: '•';
  display: block;
  margin: 0 15px;
  font-size: 10px;
}

.profile_body {
  display: flex;
  justify-content: space-evenly;
}

.profile_section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile_section-header_title {
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0 3px 0;
  text-decoration: none;
  color: black;
}

.profile_section-header_title:hover {
  cursor: pointer;
  text-decoration: underline;
}

.profile_section-header_button {
  height: fit-content;
  border-radius: 12px;
  border: 1px solid black;
  padding: 3px 10px 3px 10px;
  position: relative;
  top: 5px;
}

.profile_section-header_button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}


.profile_section {
  margin: 20px;
  min-width: 50%;
}