
* {
  background-color: #f0f3f5;
  font-family: 'Poppins', sans-serif;
}

.app_body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  flex-direction: column;
}

.spotify-logo {
  width: 120px;
}

.logout-button {
  padding: 10px 20px 10px 20px;
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 10px;
}

.logout-button a {
  background-color: #1DB954;
  color: white;
  text-decoration: none;
}

.logout-button:hover {
  box-shadow: 0px 2px 5px black;
}